attrs==19.3.0
Django==2.2.7
importlib-metadata==0.23
irekua-database==0.1.1
jsonschema==3.2.0
more-itertools==7.2.0
Pillow==9.3.0
psycopg2-binary==2.8.4
pycountry==19.8.18
pyrsistent==0.15.5
pytz==2019.3
six==1.13.0
sorl-thumbnail==12.5.0
sqlparse==0.3.0
tqdm==4.39.0
zipp==0.6.0
